<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Olá, <%= userName %>!</h1>
  <p>Bem-vindo à sua agenda.</p>

  <a href="/eventos">Ver Meus Eventos</a>
  <br>
  <a href="/categorias">Ver Minhas Categorias</a>
  <br><br>
  <a href="/logout">Sair</a>
</body>
</html>