<!DOCTYPE html>
<html>
<head><title><%= titulo %></title></head>
<body>
  <h1><%= titulo %></h1>

  <form method="POST">
    <div>
      <label>Nome:</label>
      <input type="text" name="nome" required>
    </div>
    
    <button type="submit">Salvar</button>
  </form>
</body>
</html>